footer{
    padding: 25px 0;
    background: #33323d;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .navlink{
    color: white;
}
footer nav .active{
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
letter-spacing: 0.17em;
text-transform: uppercase;
color: #5fb4a2;
}
.footer__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
@media(max-width:600px){
    .footer__wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer nav ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}