*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --font-family: "Public Sans", sans-serif;
    --second-family: "Ibarra Real Nova", sans-serif;
    --third-family: "PublicSans", sans-serif;
    --font3: "Karla", sans-serif;
  }
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.heroimg{
    margin: 94px 0 115px;
}
.heroimg img {
    width: 100%;
}